<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Products</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">The Best electronics</h1>
            <p class="lead fw-normal text-white-50 mb-0">At the lowest price</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <form th:action="@{/products/filter={keyword}}" method="get">
            <label for="category">Choose category</label>
            <select class="dropdown" th:field="*{category}" id="category">
                <option th:each="c : ${categories}"
                        th:value="${c.name}"
                        th:text="${c.name}" />
            </select>

            </form>
        </div>

        <div class="col-6 text-center">
            <a type="button" href="/products/add"
               class="btn btn-success m-3">Add Product</a>
        </div>

        <form th:action="@{/products}" method="get">
        <div class="input-group mb-3 w-60">
            <input type="text" class="form-control" placeholder="Search a product" aria-label="product" name="keyword">
            <button class="btn btn-outline-secondary ml-2" type="submit" id="button-addon2"><i class="bi bi-search"></i> Search</button>
        </div>
        </form>

    </div>
    <div class="row justify-content-center">

        <div th:each="product: ${products}" class="col-3 mb-5">
            <div class="card h-100 mb-2">
                <a th:href="@{'/products/'+ ${product.id}}" class="text-decoration-none" style="color: black">
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <img class="card-img-top" th:src="${product.image}" alt="product image" />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder" th:text="${product.name}"></h5>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <span class="" th:text="${#numbers.formatCurrency(product.price)}"></span>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <form th:action="@{/addToCart}" method="POST">
                                <input type="hidden" name="id"
                                       th:value="${product.id}" />
                                <button type="submit" class="btn btn-outline-dark mt-auto">
                                    Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>

</body>

</html>